//color types
$fire: #fd7d24;
$grass: #9bcc50;
$electric: #eed535;
$water: #4592c4;
$rock: #a38c21;
$fairy: #fdb9e9;
$poison: #b97fc9;
$bug: #729f3f;
$psychic: #f366b9; 
$fighting: #d56723;
$normal: #a4acaf;
$ghost: #7b62a3;
$ice: #51c4e7;
$ground: #f7de3f;
$ground-bottom: #ab9842;
$dragon: #53a4cf;
$dragon-bottom: #f16e57;
$flying: #3dc7ef;
$flying-bottom: #bdb9b8;

//used to color type labels 
$all-types-pokemon: ("fire", $fire, ""), ("grass", $grass, ""), ("electric", $electric, ""), ("water", $water, ""), ("rock", $rock, ""), ("fairy", $fairy, ""), ("poison", $poison, ""), ("bug", $bug, ""), ("psychic", $psychic, "") , ("fighting", $fighting, ""), ("normal", $normal, ""), ("ghost", $ghost, ""), ("ice", $ice, ""), ("ground", $ground, $ground-bottom), ("dragon", $dragon, $dragon-bottom), ("flying", $flying, $flying-bottom);
 






